<ul>
    {% for article in articles %}
        <li>
            <a href="{{ path('article_id', {'id' : article.id}) }}"><h4>{{ article.title }}</a> (id de l'article : {{ article.id }})</h4>
            Autheur : <a href="{{ path('article_author', { 'author': article.author}) }}">{{ article.author }}</a>
            <p>{{ article.content }}
                <br>
                {{ article.createdAt|date('d/m/Y H:i') }}
                <br>
                {% if (article.tag) %}
                <a href="{{ path('article_tag', {'tag': article.tag}) }}">{{ article.tag }}</a>
                {% endif %}

                <a href="{{ path('article_del', {'id': article.id}) }}">Supprimer</a>
            </p>
        </li>
        <br>
    {% else %}
        <li>Pas d'article trouvé !</li>
    {% endfor %}
</ul>

